div {
    display: inline-block;
    margin: 10px;
}

.redSquare {
    height: 100px;
    width: 100px;
    background-color: red;
}

.blueSquare {
    height: 100px;
    width: 100px;
    background-color: blue;
}

.greenSquare {
    height: 100px;
    width: 100px;
    background-color: green;
}

.yellowSquare {
    height: 100px;
    width: 100px;
    background-color: yellow;
}